@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(146, 132, 92);
  text-align: center;
  color: rgb(211, 189, 159);
}

#myCanvas {
  background-image: url("https://i.pinimg.com/originals/c3/ea/c8/c3eac864a918da1d03decfeb27007bb5.gif");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(211, 189, 159);;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

